.Rproj.user/
.Rhistory
.RData
.Ruserdata

data/*

!data/

!data/coverage/
!data/rnaseq/
!data/variants/
!data/drop/
!data/qc/

data/coverage/*
data/rnaseq/*
data/variants/*
data/drop/*
data/qc/*

!data/coverage/.gitkeep
!data/rnaseq/.gitkeep
!data/variants/.gitkeep
!data/drop/.gitkeep
!data/qc/.gitkeep

app/www/tmp_igv.html
